myapp.localhost {
  tls internal
  log stdout
  # make sure to match this to what you have vite configured for
  reverse_proxy localhost:5173
}

test.localhost {
  tls internal
  log stdout
  # make sure to match this to what you have vite configured for
  reverse_proxy localhost:5173
}
